@model List<Entities.Custom.CustomRoom>

<body>
    <div class="availabilty-sec">
        <div id="main" class="container">
            <div class="result-header">
                <h1><span>Results for&nbsp;&nbsp;&nbsp;</span>@ViewBag.CheckInDate to @ViewBag.CheckOutDate | For @ViewBag.Person Persons And @ViewBag.Rooms Rooms</h1>
                <a href="javascript:void(0);" title="Clear">Clear</a>
            </div>
            <div class="available-rooms-list">

                @if(Model.Count() == 0)
                {
                    <div>No Rooms Available for Searched inputs</div>
                }
                <ul>
                    @foreach(Entities.Custom.CustomRoom room in Model)
                    {
                        <li  class="automation-available-room-item">
                            <div class="left-part">
                                <div class="room-preview">
                                    <img src="/images/@room.RoomImage" alt="Image Preview" />
                                </div>
                                <div class="room-info">
                                    <h2>@room.RoomType (@room.NoOfRooms)</h2>
                                    <p>@room.Discription</p>
                                    <ul>
                                        <li><p>Person Allowed: @room.Capacity</p></li>
                                        <li><p>Beds: @room.Bed (s)</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="right-part">
                                <span>From</span>
                                <h3>$ @room.Price</h3>
                                @Html.ActionLink("Book now", "RoomBooking", new {id =2, roomType = room.RoomType} ,new { @class = "automation-book-room-now" })
                            </div>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
</body>

